<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charset="utf-8" http-equiv='Content-Type'>
    <title>Welcome to Ninety-nine Cats</title>
  </head>
  <body>
    <h1>Welcome to Ninety-nine Cats, <%= @user.username %></h1>
    <p>You have successfully signed up for Ninety-nine Cats. You're username is: <%= @user.username %></p>
    <p>To log in, simply click on the following link: <%= @url %></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
